$grid_max_width: 1140px;
$gutter_vertical: 15px;
@mixin makeCol($maximum_width,$padding,$gutter_vertical) {
    width: #{$maximum_width};
    padding: $padding;
    margin-bottom: 0;
    @if (#{$maximum_width} == 100%){
        &:not(:last-child){
            margin-bottom: $gutter_vertical;
        }
    }  
}
@mixin clearfix {
    &::after{
        content: "";
        display:table;
        clear: both;
    }    
}
// Grid System
.row{
    max-width: $grid_max_width;
    &:not(:last-child){
        margin-bottom: $gutter_vertical;
    }
    @include clearfix;
    [class^='col']{
        float: left;
    }
    @for $i from 1 through 12{
        $maximum-width: ((100)/12) * $i +"%";
        .col#{$i}xs{ // First Breakpoint xs: => 300px;
            @media (min-width:18.75em){
                @include makeCol( $maximum-width , 4px,$gutter_vertical)
            }
        }            
    }
    @for $i from 1 through 12{
        $maximum-width: ((100)/12) * $i +"%";
        .col#{$i}s{ // Second Breakpoint s=> 600px;
            @media (min-width:37.5em){
                @include makeCol( $maximum-width ,8px,$gutter_vertical)
            }
        }
    }
    @for $i from 1 through 12{
        $maximum-width: ((100)/12) * $i +"%";
        .col#{$i}m{
            @media (min-width:56.25em){  // Third Breakpoint m=> 900px; 
                @include makeCol( $maximum-width ,16px,$gutter_vertical)
            } 
        }
    }
    @for $i from 1 through 12{
        $maximum-width: ((100)/12) * $i +"%";
        .col#{$i}l{
            @media (min-width:75em){ // Fourth Breakpoint l=> 1200px;
                @include makeCol($maximum-width , 24px,$gutter_vertical)    
            }
        }
    }

}