.row {
  max-width: 1140px; }
  .row:not(:last-child) {
    margin-bottom: 15px; }
  .row::after {
    content: "";
    display: table;
    clear: both; }
  .row [class^='col'] {
    float: left; }
  @media (min-width: 18.75em) {
    .row .col1xs {
      width: 8.33333%;
      padding: 4px;
      margin-bottom: 0; }
      .row .col1xs:not(:last-child) {
        margin-bottom: 15px; } }
  @media (min-width: 18.75em) {
    .row .col2xs {
      width: 16.66667%;
      padding: 4px;
      margin-bottom: 0; }
      .row .col2xs:not(:last-child) {
        margin-bottom: 15px; } }
  @media (min-width: 18.75em) {
    .row .col3xs {
      width: 25%;
      padding: 4px;
      margin-bottom: 0; }
      .row .col3xs:not(:last-child) {
        margin-bottom: 15px; } }
  @media (min-width: 18.75em) {
    .row .col4xs {
      width: 33.33333%;
      padding: 4px;
      margin-bottom: 0; }
      .row .col4xs:not(:last-child) {
        margin-bottom: 15px; } }
  @media (min-width: 18.75em) {
    .row .col5xs {
      width: 41.66667%;
      padding: 4px;
      margin-bottom: 0; }
      .row .col5xs:not(:last-child) {
        margin-bottom: 15px; } }
  @media (min-width: 18.75em) {
    .row .col6xs {
      width: 50%;
      padding: 4px;
      margin-bottom: 0; }
      .row .col6xs:not(:last-child) {
        margin-bottom: 15px; } }
  @media (min-width: 18.75em) {
    .row .col7xs {
      width: 58.33333%;
      padding: 4px;
      margin-bottom: 0; }
      .row .col7xs:not(:last-child) {
        margin-bottom: 15px; } }
  @media (min-width: 18.75em) {
    .row .col8xs {
      width: 66.66667%;
      padding: 4px;
      margin-bottom: 0; }
      .row .col8xs:not(:last-child) {
        margin-bottom: 15px; } }
  @media (min-width: 18.75em) {
    .row .col9xs {
      width: 75%;
      padding: 4px;
      margin-bottom: 0; }
      .row .col9xs:not(:last-child) {
        margin-bottom: 15px; } }
  @media (min-width: 18.75em) {
    .row .col10xs {
      width: 83.33333%;
      padding: 4px;
      margin-bottom: 0; }
      .row .col10xs:not(:last-child) {
        margin-bottom: 15px; } }
  @media (min-width: 18.75em) {
    .row .col11xs {
      width: 91.66667%;
      padding: 4px;
      margin-bottom: 0; }
      .row .col11xs:not(:last-child) {
        margin-bottom: 15px; } }
  @media (min-width: 18.75em) {
    .row .col12xs {
      width: 100%;
      padding: 4px;
      margin-bottom: 0; }
      .row .col12xs:not(:last-child) {
        margin-bottom: 15px; } }
  @media (min-width: 37.5em) {
    .row .col1s {
      width: 8.33333%;
      padding: 8px;
      margin-bottom: 0; }
      .row .col1s:not(:last-child) {
        margin-bottom: 15px; } }
  @media (min-width: 37.5em) {
    .row .col2s {
      width: 16.66667%;
      padding: 8px;
      margin-bottom: 0; }
      .row .col2s:not(:last-child) {
        margin-bottom: 15px; } }
  @media (min-width: 37.5em) {
    .row .col3s {
      width: 25%;
      padding: 8px;
      margin-bottom: 0; }
      .row .col3s:not(:last-child) {
        margin-bottom: 15px; } }
  @media (min-width: 37.5em) {
    .row .col4s {
      width: 33.33333%;
      padding: 8px;
      margin-bottom: 0; }
      .row .col4s:not(:last-child) {
        margin-bottom: 15px; } }
  @media (min-width: 37.5em) {
    .row .col5s {
      width: 41.66667%;
      padding: 8px;
      margin-bottom: 0; }
      .row .col5s:not(:last-child) {
        margin-bottom: 15px; } }
  @media (min-width: 37.5em) {
    .row .col6s {
      width: 50%;
      padding: 8px;
      margin-bottom: 0; }
      .row .col6s:not(:last-child) {
        margin-bottom: 15px; } }
  @media (min-width: 37.5em) {
    .row .col7s {
      width: 58.33333%;
      padding: 8px;
      margin-bottom: 0; }
      .row .col7s:not(:last-child) {
        margin-bottom: 15px; } }
  @media (min-width: 37.5em) {
    .row .col8s {
      width: 66.66667%;
      padding: 8px;
      margin-bottom: 0; }
      .row .col8s:not(:last-child) {
        margin-bottom: 15px; } }
  @media (min-width: 37.5em) {
    .row .col9s {
      width: 75%;
      padding: 8px;
      margin-bottom: 0; }
      .row .col9s:not(:last-child) {
        margin-bottom: 15px; } }
  @media (min-width: 37.5em) {
    .row .col10s {
      width: 83.33333%;
      padding: 8px;
      margin-bottom: 0; }
      .row .col10s:not(:last-child) {
        margin-bottom: 15px; } }
  @media (min-width: 37.5em) {
    .row .col11s {
      width: 91.66667%;
      padding: 8px;
      margin-bottom: 0; }
      .row .col11s:not(:last-child) {
        margin-bottom: 15px; } }
  @media (min-width: 37.5em) {
    .row .col12s {
      width: 100%;
      padding: 8px;
      margin-bottom: 0; }
      .row .col12s:not(:last-child) {
        margin-bottom: 15px; } }
  @media (min-width: 56.25em) {
    .row .col1m {
      width: 8.33333%;
      padding: 16px;
      margin-bottom: 0; }
      .row .col1m:not(:last-child) {
        margin-bottom: 15px; } }
  @media (min-width: 56.25em) {
    .row .col2m {
      width: 16.66667%;
      padding: 16px;
      margin-bottom: 0; }
      .row .col2m:not(:last-child) {
        margin-bottom: 15px; } }
  @media (min-width: 56.25em) {
    .row .col3m {
      width: 25%;
      padding: 16px;
      margin-bottom: 0; }
      .row .col3m:not(:last-child) {
        margin-bottom: 15px; } }
  @media (min-width: 56.25em) {
    .row .col4m {
      width: 33.33333%;
      padding: 16px;
      margin-bottom: 0; }
      .row .col4m:not(:last-child) {
        margin-bottom: 15px; } }
  @media (min-width: 56.25em) {
    .row .col5m {
      width: 41.66667%;
      padding: 16px;
      margin-bottom: 0; }
      .row .col5m:not(:last-child) {
        margin-bottom: 15px; } }
  @media (min-width: 56.25em) {
    .row .col6m {
      width: 50%;
      padding: 16px;
      margin-bottom: 0; }
      .row .col6m:not(:last-child) {
        margin-bottom: 15px; } }
  @media (min-width: 56.25em) {
    .row .col7m {
      width: 58.33333%;
      padding: 16px;
      margin-bottom: 0; }
      .row .col7m:not(:last-child) {
        margin-bottom: 15px; } }
  @media (min-width: 56.25em) {
    .row .col8m {
      width: 66.66667%;
      padding: 16px;
      margin-bottom: 0; }
      .row .col8m:not(:last-child) {
        margin-bottom: 15px; } }
  @media (min-width: 56.25em) {
    .row .col9m {
      width: 75%;
      padding: 16px;
      margin-bottom: 0; }
      .row .col9m:not(:last-child) {
        margin-bottom: 15px; } }
  @media (min-width: 56.25em) {
    .row .col10m {
      width: 83.33333%;
      padding: 16px;
      margin-bottom: 0; }
      .row .col10m:not(:last-child) {
        margin-bottom: 15px; } }
  @media (min-width: 56.25em) {
    .row .col11m {
      width: 91.66667%;
      padding: 16px;
      margin-bottom: 0; }
      .row .col11m:not(:last-child) {
        margin-bottom: 15px; } }
  @media (min-width: 56.25em) {
    .row .col12m {
      width: 100%;
      padding: 16px;
      margin-bottom: 0; }
      .row .col12m:not(:last-child) {
        margin-bottom: 15px; } }
  @media (min-width: 75em) {
    .row .col1l {
      width: 8.33333%;
      padding: 24px;
      margin-bottom: 0; }
      .row .col1l:not(:last-child) {
        margin-bottom: 15px; } }
  @media (min-width: 75em) {
    .row .col2l {
      width: 16.66667%;
      padding: 24px;
      margin-bottom: 0; }
      .row .col2l:not(:last-child) {
        margin-bottom: 15px; } }
  @media (min-width: 75em) {
    .row .col3l {
      width: 25%;
      padding: 24px;
      margin-bottom: 0; }
      .row .col3l:not(:last-child) {
        margin-bottom: 15px; } }
  @media (min-width: 75em) {
    .row .col4l {
      width: 33.33333%;
      padding: 24px;
      margin-bottom: 0; }
      .row .col4l:not(:last-child) {
        margin-bottom: 15px; } }
  @media (min-width: 75em) {
    .row .col5l {
      width: 41.66667%;
      padding: 24px;
      margin-bottom: 0; }
      .row .col5l:not(:last-child) {
        margin-bottom: 15px; } }
  @media (min-width: 75em) {
    .row .col6l {
      width: 50%;
      padding: 24px;
      margin-bottom: 0; }
      .row .col6l:not(:last-child) {
        margin-bottom: 15px; } }
  @media (min-width: 75em) {
    .row .col7l {
      width: 58.33333%;
      padding: 24px;
      margin-bottom: 0; }
      .row .col7l:not(:last-child) {
        margin-bottom: 15px; } }
  @media (min-width: 75em) {
    .row .col8l {
      width: 66.66667%;
      padding: 24px;
      margin-bottom: 0; }
      .row .col8l:not(:last-child) {
        margin-bottom: 15px; } }
  @media (min-width: 75em) {
    .row .col9l {
      width: 75%;
      padding: 24px;
      margin-bottom: 0; }
      .row .col9l:not(:last-child) {
        margin-bottom: 15px; } }
  @media (min-width: 75em) {
    .row .col10l {
      width: 83.33333%;
      padding: 24px;
      margin-bottom: 0; }
      .row .col10l:not(:last-child) {
        margin-bottom: 15px; } }
  @media (min-width: 75em) {
    .row .col11l {
      width: 91.66667%;
      padding: 24px;
      margin-bottom: 0; }
      .row .col11l:not(:last-child) {
        margin-bottom: 15px; } }
  @media (min-width: 75em) {
    .row .col12l {
      width: 100%;
      padding: 24px;
      margin-bottom: 0; }
      .row .col12l:not(:last-child) {
        margin-bottom: 15px; } }
