.row {
  max-width: 1200px;
  margin: 0 auto; }
  .row:not(:last-child) {
    margin-bottom: 10px; }
  .row::after {
    content: "";
    display: table;
    clear: both; }
  .row [class^='col-'] {
    float: left; }
    .row [class^='col-']:not(:last-child) {
      margin-right: 10px; }
  .row .col-1-of-1 {
    width: calc(100% - 0px); }
  .row .col-1-of-2 {
    width: calc(50% - 10px); }
  .row .col-2-of-2 {
    width: calc(100% - 0px); }
  .row .col-1-of-3 {
    width: calc(33.33333% - 20px); }
  .row .col-2-of-3 {
    width: calc(66.66667% - 10px); }
  .row .col-3-of-3 {
    width: calc(100% - 0px); }
  .row .col-1-of-4 {
    width: calc(25% - 30px); }
  .row .col-2-of-4 {
    width: calc(50% - 20px); }
  .row .col-3-of-4 {
    width: calc(75% - 10px); }
  .row .col-4-of-4 {
    width: calc(100% - 0px); }
  .row .col-1-of-5 {
    width: calc(20% - 40px); }
  .row .col-2-of-5 {
    width: calc(40% - 30px); }
  .row .col-3-of-5 {
    width: calc(60% - 20px); }
  .row .col-4-of-5 {
    width: calc(80% - 10px); }
  .row .col-5-of-5 {
    width: calc(100% - 0px); }
  .row .col-1-of-6 {
    width: calc(16.66667% - 50px); }
  .row .col-2-of-6 {
    width: calc(33.33333% - 40px); }
  .row .col-3-of-6 {
    width: calc(50% - 30px); }
  .row .col-4-of-6 {
    width: calc(66.66667% - 20px); }
  .row .col-5-of-6 {
    width: calc(83.33333% - 10px); }
  .row .col-6-of-6 {
    width: calc(100% - 0px); }
  .row .col-1-of-7 {
    width: calc(14.28571% - 60px); }
  .row .col-2-of-7 {
    width: calc(28.57143% - 50px); }
  .row .col-3-of-7 {
    width: calc(42.85714% - 40px); }
  .row .col-4-of-7 {
    width: calc(57.14286% - 30px); }
  .row .col-5-of-7 {
    width: calc(71.42857% - 20px); }
  .row .col-6-of-7 {
    width: calc(85.71429% - 10px); }
  .row .col-7-of-7 {
    width: calc(100% - 0px); }
  .row .col-1-of-8 {
    width: calc(12.5% - 70px); }
  .row .col-2-of-8 {
    width: calc(25% - 60px); }
  .row .col-3-of-8 {
    width: calc(37.5% - 50px); }
  .row .col-4-of-8 {
    width: calc(50% - 40px); }
  .row .col-5-of-8 {
    width: calc(62.5% - 30px); }
  .row .col-6-of-8 {
    width: calc(75% - 20px); }
  .row .col-7-of-8 {
    width: calc(87.5% - 10px); }
  .row .col-8-of-8 {
    width: calc(100% - 0px); }
  .row .col-1-of-9 {
    width: calc(11.11111% - 80px); }
  .row .col-2-of-9 {
    width: calc(22.22222% - 70px); }
  .row .col-3-of-9 {
    width: calc(33.33333% - 60px); }
  .row .col-4-of-9 {
    width: calc(44.44444% - 50px); }
  .row .col-5-of-9 {
    width: calc(55.55556% - 40px); }
  .row .col-6-of-9 {
    width: calc(66.66667% - 30px); }
  .row .col-7-of-9 {
    width: calc(77.77778% - 20px); }
  .row .col-8-of-9 {
    width: calc(88.88889% - 10px); }
  .row .col-9-of-9 {
    width: calc(100% - 0px); }
  .row .col-1-of-10 {
    width: calc(10% - 90px); }
  .row .col-2-of-10 {
    width: calc(20% - 80px); }
  .row .col-3-of-10 {
    width: calc(30% - 70px); }
  .row .col-4-of-10 {
    width: calc(40% - 60px); }
  .row .col-5-of-10 {
    width: calc(50% - 50px); }
  .row .col-6-of-10 {
    width: calc(60% - 40px); }
  .row .col-7-of-10 {
    width: calc(70% - 30px); }
  .row .col-8-of-10 {
    width: calc(80% - 20px); }
  .row .col-9-of-10 {
    width: calc(90% - 10px); }
  .row .col-10-of-10 {
    width: calc(100% - 0px); }
  .row .col-1-of-11 {
    width: calc(9.09091% - 100px); }
  .row .col-2-of-11 {
    width: calc(18.18182% - 90px); }
  .row .col-3-of-11 {
    width: calc(27.27273% - 80px); }
  .row .col-4-of-11 {
    width: calc(36.36364% - 70px); }
  .row .col-5-of-11 {
    width: calc(45.45455% - 60px); }
  .row .col-6-of-11 {
    width: calc(54.54545% - 50px); }
  .row .col-7-of-11 {
    width: calc(63.63636% - 40px); }
  .row .col-8-of-11 {
    width: calc(72.72727% - 30px); }
  .row .col-9-of-11 {
    width: calc(81.81818% - 20px); }
  .row .col-10-of-11 {
    width: calc(90.90909% - 10px); }
  .row .col-11-of-11 {
    width: calc(100% - 0px); }
  .row .col-1-of-12 {
    width: calc(8.33333% - 110px); }
  .row .col-2-of-12 {
    width: calc(16.66667% - 100px); }
  .row .col-3-of-12 {
    width: calc(25% - 90px); }
  .row .col-4-of-12 {
    width: calc(33.33333% - 80px); }
  .row .col-5-of-12 {
    width: calc(41.66667% - 70px); }
  .row .col-6-of-12 {
    width: calc(50% - 60px); }
  .row .col-7-of-12 {
    width: calc(58.33333% - 50px); }
  .row .col-8-of-12 {
    width: calc(66.66667% - 40px); }
  .row .col-9-of-12 {
    width: calc(75% - 30px); }
  .row .col-10-of-12 {
    width: calc(83.33333% - 20px); }
  .row .col-11-of-12 {
    width: calc(91.66667% - 10px); }
  .row .col-12-of-12 {
    width: calc(100% - 0px); }
